.DS_Store
.pytest_cache/
.venv/
__pycache__/
artifacts/benchmarks
artifacts/embeddings
artifacts/multitask/*/epoch_checkpoints
artifacts/multitask/*/*.csv
artifacts/multitask/*/*.json
build/
dist/
*.egg-info/
data/
tests/
runs/
